
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
  transition: background-color 0.3s ease;
  background-color: white;
}

a {
  color: #149ddd;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #37b3ed;
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Back to Top Button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #149ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top i {
  font-size: 28px;
  color: #fff;
}

.back-to-top:hover {
  background: #2eafec;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
  transition: all 0.5s ease-in-out;
  z-index: 9997;
}

#header .profile img {
  display: block;
  margin: 15px auto;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #fff;
}

#header .profile h1 a {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  background: #212431;
  color: #fff;
  margin-right: 4px;
  padding: 8px;
  border-radius: 50%;
  transition: background 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
}

#main {
  margin-left: 300px;
}

.container, .container-fluid {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }

  .container, .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu {
  padding-top: 30px;
}

.nav-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-menu>ul>li {
  position: relative;
}

.nav-menu a {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  font-size: 15px;
  transition: color 0.3s;
}

.nav-menu a i {
  font-size: 24px;
  margin-right: 8px;
  color: #6f7180;
}

.nav-menu a:hover, .nav-menu .active {
  color: #fff;
}

.nav-menu a:hover i, .nav-menu .active i {
  color: #149ddd;
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  top: 15px;
  right: 15px;
  z-index: 9998;
  width: 40px;
  height: 40px;
  background: #149ddd;
  color: #fff;
  border: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.4s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header {
  left: 0;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(5, 13, 24, 0.3);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#hero .hero-container {
  position: relative;
  z-index: 2;
  min-width: 300px;
}

#hero h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 56px;
  color: #fff;
  margin: 0 0 10px;
}

#hero p {
  color: #fff;
  font-size: 26px;
  margin-bottom: 50px;
  font-family: "Poppins", sans-serif;
}

#hero p span {
  color: #fff;
  padding-bottom: 4px;
  border-bottom: 3px solid #149ddd;
  letter-spacing: 1px;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background: #f5f8fd;
}

.section-title {
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #173b6c;
}

.section-title h2::after {
  content: "";
  width: 50px;
  height: 3px;
  background: #149ddd;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about .content h3 {
  font-size: 26px;
  font-weight: 700;
  color: #173b6c;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  color: #149ddd;
  margin-right: 5px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Facts Section
--------------------------------------------------------------*/
.facts {
  padding-bottom: 30px;
}

.facts .count-box {
  padding: 30px;
  width: 100%;
}

.facts .count-box i {
  font-size: 44px;
  color: #149ddd;
  float: left;
}

.facts .count-box span {
  font-size: 48px;
  font-weight: 700;
  color: #050d18;
  margin-left: 60px;
}

.facts .count-box p {
  margin: 0 0 0 60px;
  padding: 15px 0 0;
  font-size: 14px;
  color: #122f57;
  font-family: "Raleway", sans-serif;
}

.facts .count-box a {
  display: block;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 600;
  color: #122f57;
  font-family: "Poppins", sans-serif;
  transition: color 0.3s;
}

.facts .count-box a:hover {
  color: #1f5297;
}

/*--------------------------------------------------------------
# Skills Section
--------------------------------------------------------------*/
.skills .progress {
  height: 60px;
  background: none;
  border-radius: 0;
}



.skills .progress .skill {
  padding: 10px 0;
  margin: 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #050d18;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.progress-bar-wrap {
  background: #d1e8ff;
}

.progress-bar {
  width: 1px;
  height: 20px;
  transition: .9s;
}

.progress-bar-html {
  background: #149ddd;
}

.progress-bar-css {
  background: #e34c26;
}

.progress-bar-js {
  background: #f7df1e;
}

.progress-bar-php {
  background: #787cb5;
}

.progress-bar-wordpress {
  background: #21759b;
}

.progress-bar-photoshop {
  background: #001e36;
}

.progress-bar-figma {
  background: #a259ff;
}

/*--------------------------------------------------------------
# Portfolio Section
--------------------------------------------------------------*/
.portfolio .portfolio-container {
  position: relative;
  margin-top: 30px;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 30px auto;
  list-style: none;
  text-align: center;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 0 10px 10px 0;
  display: inline-block;
  padding: 10px 20px;
  font-size: 12px;
  line-height: 20px;
  color: #050d18;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  font-weight: 600;
  background: #e9f1f6;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  background: #149ddd;
  color: #fff;
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact .info-box {
  color: #050d18;
  background: #f7fcff;
  padding: 30px;
  width: 100%;
}

.contact .info-box i {
  font-size: 32px;
  color: #149ddd;
  float: left;
  width: 44px;
  height: 44px;
  background: #d1e8ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #000;
  font-weight: 700;
  margin: 0 0 10px 58px;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.contact .info-box p {
  padding: 0;
  line-height: 28px;
  font-size: 14px;
  margin: 0 0 0 58px;
  font-family: "Raleway", sans-serif;
}

.contact .form-group {
  margin-bottom: 25px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .loading {
  display: none;
  background: #149ddd;
  color: white;
  padding: 15px;
  text-align: center;
}

.contact .php-email-form .error-message {
  display: none;
  background: #f5c6cb;
  color: #721c24;
  padding: 15px;
  text-align: center;
}

.contact .php-email-form .sent-message {
  display: none;
  background: #d4edda;
  color: #155724;
  padding: 15px;
  text-align: center;
}

.contact .php-email-form button[type=submit] {
  background: #149ddd;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type=submit]:hover {
  background: #37b3ed;
}
